
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;

}

#root {
  --lilas-claro: #E3077A;
  --lilas: #762F4A;
  --rosa: #FFC2CE;
  --cinza: #464646;
  --cinza-escuro:#1d1d1d;
  --cinza-claro: #353434;
  background-color: var(--cinza-escuro);
}

html {
  font-size: 62.5%;

}

body {
  font-size: 1.6rem;

}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'inter', sans-serif;

}
